.showMenu {
    display: block;
}

.hideMenu {
    display: none;
}

.subMenu ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    width: 100vw;
    position: absolute;
    top: 73px;
    right: 0;
    font-size: 20px;
    background-color: #fff;
    z-index: 2;
}

.subMenu ul li {
    padding: 6px 0;
}

.subMenu ul li .showMenu {
    margin-top: 0;
}

ul.menuListItem .wrapperMenuIcons li.subMenu {
    padding-right: 0;
}

.subMenu ul li h3 {
    margin: 0;
    font-weight: normal;
}

.subMenu ul li .listItemsSubMenu .innerSubMenuList {
    position: static;
    font-size: 16px;
}

@media (min-width: 1025px) {
    .subMenu {
        order: -1;
    }

    .hideMenu {
        display: block;
    }

    .subMenu .icon {
        display: none;
    }

    .subMenu ul {
        display: flex;
        flex-direction: row;
        text-align: end;
        width: auto; 
        height: auto; 
        position: static; 
        margin-top: 0px; 
        margin-left: 0px; 
        font-size: 18px; 
        align-items: center;
        height: 100%;
    }

    .subMenu ul li .listItemsSubMenu ul.innerSubMenuList.hideMenu {
        display: none;
    }

    .subMenu ul li .listItemsSubMenu ul.innerSubMenuList.showMenu {
        display: flex;
    }

    .subMenu ul li .listItemsSubMenu ul.innerSubMenuList {
        position: absolute;
        width: 100%;
        height: 70px;
    }

    ul.menuListItem .wrapperMenuIcons li.subMenu {
        height: 100%;
    }

    ul.menuListItem .wrapper.other {
        height: 100%;
    }

    .subMenu ul li {
        margin-top: 0;
    }
}