.accountWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

.accountWrapper h4 {
    font-weight: 300;
    margin-top: 0;
}

.accountWrapper input[type='submit'] {
    height: 40px;
    width: 300px;
}

@media (min-width: 1025px) {
    .accountWrapper input[type='submit'] {
        max-height: 30px;
        margin-left: 0px;
        margin-right: 0px;
    }
}