.wrapperContact {
    flex: 1;
    display: flex;
    justify-content: center;
}

.wrapperContact article {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.wrapperContact article {
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
}

.wrapperContact article h1,
.wrapperContact article h3 {
    margin: 10px 0;
}

.wrapperContact article h1 {
    font-family: 'Dharma';
    font-weight: 100;
}

.wrapperContact .contactUs>div {
    display: flex;
    flex-direction: column;
}

.wrapperContact article li {
    margin: 5px auto;
}

.wrapperContact .retailStore ul {
    list-style-type: none;
}

.wrapperContact footer {
    background-color: transparent;
}

@media (min-width: 1025px) {
    .wrapperContact article {
        margin: 20px 10px;
    }

    .wrapperContact .wrapperFollowUs {
        flex-direction: column;   
        margin: 10px auto;
    }

    .wrapperContact .wrapperFollowUs p {
        padding: 0;
    }
}
