@font-face{ 
	font-family: 'Dharma';
  src: 
    url('./static/fonts/Dharma/Dharma.otf');
  src: 
    url('./static/fonts/Dharma/Dharma.otf') format('opentype'),
    url('./static/fonts/Dharma/Dharma.woff') format('woff'),
    url('./static/fonts/Dharma/Dharma.woff2') format('woff2'),
    url('./static/fonts/Dharma/Dharma.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body a {
  text-decoration: none;
  color: black;
}

body a:hover {
  text-decoration-line: underline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
