.wrapperFollowUs {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrapperFollowUs .icon {
    height: 30px;
    width: 30px;
}

.wrapperFollowUs p {
    margin: 0;
}

.wrapperFollowUs .wrapperIcon {
    display: flex;
    flex-direction: row;
}


@media (min-width: 1025px) {
    .wrapperFollowUs {
        flex-direction: row;
        width: auto;
        margin: 0;
        padding-right: 15px;
    }
    
    .wrapperFollowUs p {
        padding-right: 15px;
    }
}
