.sectionPreviewWrapper h2 {
    font-size: 55px;
    margin: 0;
    font-family: Dharma;
    font-weight: 400;
}

.sectionPreviewWrapper h5 {
    font-size: 25px;
    margin: 0;
    font-weight: 600;
}

.sectionPreviewWrapper .interactiveWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionPreviewWrapper .interactiveWrapper span {
    font-style: italic;
    font-size: 13px;
    width: 100%;
}

.sectionPreviewWrapper .interactiveWrapper a {
    margin-top: 20px;
}

.previewProduct .sectionPreviewWrapperInner {
    text-align: center;
}

.previewProduct .sectionPreviewWrapperInner button {
    background-color: transparent;
    border: 3px solid black;
    padding: 12px 40px;
}

.sectionPreviewWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.previewProduct {
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-position: center; 
    background-size: cover;
    height: 100vh;
}

.previewProduct.barredPreview {
    background-image: url(https://res.cloudinary.com/dvrsus/image/upload/v1559757007/homepage/smartphone/homepage_smartphone_barred_q46dpk.jpg);
}

.previewProduct.vanGoghPreview {
    background-image: url(https://res.cloudinary.com/dvrsus/image/upload/v1558713358/homepage/smartphone/750x725_home_1_iyclw3.png);
}

.previewProduct.jeansPreview {
    background-image: url(https://res.cloudinary.com/dvrsus/image/upload/v1558713359/homepage/smartphone/750x725_home_2_emweeg.png);
}

.sectionPreviewWrapper {
    height: 100%;
    width: 100%;
} 

.sectionPreviewWrapper .interactiveWrapper.forDesktop,
.sectionPreviewWrapper.forDesktop {
    display: none;
}

@media (min-width: 1025px) {
    .sectionPreviewWrapper .interactiveWrapper.forDesktop,
    .sectionPreviewWrapper.forDesktop {
        display: flex;
    }

    .previewProduct {
        display: flex;
    }

    .previewProduct.barredPreview {
        background-image: url(https://res.cloudinary.com/dvrsus/image/upload/v1558713330/homepage/desktop/1920x1212_home_1_zxjrie.png);
    }
    
    .previewProduct.vanGoghPreview {
        background-image: url(https://res.cloudinary.com/dvrsus/image/upload/v1558713330/homepage/desktop/1920x1212_home_2_gm75kc.png);
    }

    .onlyMobile {
        display: none;
    }

    .sectionPreviewWrapper.vanGoghPreview,
    .sectionPreviewWrapper.barredPreview {
        justify-content: start;
    }

    .sectionPreviewWrapper.vanGoghPreview .sectionPreviewWrapperInner,
    .sectionPreviewWrapper.barredPreview .sectionPreviewWrapperInner {
        margin-top: 150px;
    }

    .sectionPreviewWrapper.jeansBlack,
    .sectionPreviewWrapper.jeansBlue {
        justify-content: flex-end;
    }
    .sectionPreviewWrapper.jeansBlack .sectionPreviewWrapperInner,
    .sectionPreviewWrapper.jeansBlue .sectionPreviewWrapperInner {
            margin-bottom: 150px;
    }

    .previewProduct .sectionPreviewWrapperInner button:hover {
        background-color: black;
        color: white;
    }

    .previewProduct .sectionPreviewWrapperInner.alignRight {
        text-align: right;
    }

    .previewProduct .sectionPreviewWrapperInner.alignLeft {
        text-align: left;
    }
}