.addToWishlistWrapper {
    display: flex;
    flex-direction: column;
}


.addToWishlistWrapper .addToWishlistCTA {
    border: 1px solid black;
    background-color: black;
    color: white;
    height: 46px;
    font-size: x-large;
}