.wishlistCardWrapper .imgWrapper {
    height: auto;
    width: 135px;
}

.wishlistCardWrapper .imgWrapper img {
    height: 100%;
    width: 100%;
}

.wishlistCardWrapper h2 {
    margin: 0;
}

.wishlistCardWrapper .whislistArticle {
    display: flex;
    flex-direction: row;
}

.wishlistCardWrapper .wishlistHeader {
    margin-right: 15px;
}

.wishlistCardWrapper .wishlistInfoProduct .titleSection {
    margin: 0;
    font-family: 'Dharma';
    font-weight: 100;
}

.wishlistCardWrapper .wishlistInfoProduct p {
    margin: 0;
    margin-top: 5px;
    font-size: 14px;
}

.wishlistCardWrapper .wishlistInfoProduct p.prize {
    font-size: 16px;
}

.container.product-card.wishlistCardWrapper:last-child {
    border-bottom: 0;
}


@media (min-width: 1025px) {
    .wishlist.container {
        max-width: 500px;
    }

    .wishlistWrapper .wishlistHeaderWrapper {
        justify-content: flex-end;
    }

    .wishlistWrapper .wishlistHeaderWrapper h2 {
        margin-right: 15px;
    }
}