input {
    height: 40px;
    border: 1px solid black;
    font-weight: 100;
    margin-bottom: 10px;
    outline: 0;
    padding-left: 20px;
    border-radius: 0px;
    -webkit-appearance: none;
    font-size: 13px;
    letter-spacing: 1px;
}

input[type='submit'] {
    height: 40px;
    padding: 0px;
    margin-bottom: 0px;
    background-color: black;
    color: white;
}

@media (min-width: 1025px) {
    input,
    input[type='submit'] {
        max-height: 30px;
        max-width: 300px;
        margin-left: 40%;
        margin-right: 8%;    
    }
}
