.wrapperPaymentMethods {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wrapperPaymentMethods .icon img{
    width: 150px;
    vertical-align: sub;
}

@media (min-width: 1025px) {
    .wrapperPaymentMethods {
        width: auto;
        padding-left: 15px;
    }
}