.cartWrapper {
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.cartWrapper .cartInfoProductWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cartWrapper .cartSection .loader-div {
    flex-grow: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartSection {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.cartHeaderWrapper h2 {
    margin: 0;
    font-size: medium;
    font-family: 'Dharma';
    font-weight: 100;
}

.cartHeaderWrapper a {
    font-size: smaller;
}

.cartWrapper .cartHeaderWrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.cartWrapper footer {
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-grow: 1;
}

.cartWrapper .cartCardWrapper {
    border-bottom: 1px solid black;
    padding: 25px 0;
}

.cartWrapper .cartHeaderWrapper {
    margin-top: 25px;
}

.cartWrapper .addToWishlistWrapper button {
    background: none;
    color: inherit;
    padding: 0!important;
    font: inherit;
    border: none;
    border-bottom: 1px solid #444;
    cursor: pointer;
    height: auto;
    width: auto;
    letter-spacing: 0;
}

.cartWrapper .totalCartWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.removeFromcartWrapper button {
    background:none;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

@media (min-width: 1025px) {
    .cartHeaderWrapper h2 {
        font-weight: 100;
    }
}