.wrapperLegalArea {
    align-items: center;
    border-top: 1px solid #dadada;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wrapperLegalArea p {
    margin: 0;
}

.legalAreaRight {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.legalAreaRight a {
    margin-top: 5px;
}

@media (min-width: 1025px) {

    .wrapperLegalArea {
        justify-content: space-between;
        flex-direction: row;

    }
    .legalAreaLeft {
        padding-left: 15px;
    }

    .legalAreaRight {
        flex-direction: row;
    }

    .legalAreaRight a{
        padding-right: 15px;
    }
    
}