.addToCartWrapper {
    display: flex;
    flex-direction: column;
}


.addToCartWrapper .addToCartCTA {
    border: 1px solid black;
    background-color: black;
    color: white;
    height: 46px;
    font-size: 16px;
}

.errorAddToCart {
    font-size: 20px;
    margin-top: 10px;
    display: block;
    color: red;
}