.wrapperToggleLoginRegister {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.wrapperToggleLoginRegister div {
    height: 40px;
    line-height: 40px;
    background-color: black;
    color: white;
    font-size: 13px;
    letter-spacing: 1px;
}

.wrapperAuthRegistration {
    margin-top: 25px;
}

@media (min-width: 1025px) {
    .wrapperToggleLoginRegister {
        margin: 0px;
    }

    .wrapperToggleLoginRegister div {
        max-height: 30px;
        max-width: 300px;
        line-height: 30px;
    }

    .wrapperAuthLogin .wrapperToggleLoginRegister,
    .wrapperAuthLogin hr {
        margin-left: 40%;
        margin-right: 8%;
    }

    .wrapperAuthLogin hr,
    .wrapperAuthRegistration hr {
        margin-top: 3px;
    }

    .wrapperAuthRegistration .wrapperToggleLoginRegister,
    .wrapperAuthRegistration hr {
        margin-right: 40%;
        margin-left: 8%;
    }

    .wrapperAuth .wrapperAuthLogin h2 {
        margin-left: 40%;
    }

    .wrapperAuth .wrapperAuthRegistration h2 {
        margin-left: 8%;
    }

    .wrapperAuthRegistration {
        margin-top: 0;
    }
}