footer {
    background-color: #f4f4f4;
    font-size: 13px;
}

footer,
.footerFirstPart,
.wrapperLegalArea {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footerFirstPart,
.wrapperPaymentMethods  {
    border-top: 1px solid #dadada;
}

@media (min-width: 1025px) {

    .wrapperFollowUs {
        order: 2
    }

    .wrapperPaymentMethods {
        border: 0;
    }

    .footerFirstPart {
        flex-direction: row;
        justify-content: space-between;
    }

    footer {
        font-size: 14px;
    }
}
