.selectolorWrapper {
    margin-top: 20px;
    display: flex;
}

.selectolorWrapper input {
    margin: 0;
    padding: 0;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.selectolorWrapper input:checked {
    border: 3px solid yellow;
}

.selectolorWrapper input[disabled]{
    outline:1px solid red;
}