.wrapperAuth {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
}

.wrapperAuth .innerWrapperAuth {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
}

.wrapperAuth form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.wrapperAuth h2 {
    font-family: 'Dharma';
    margin: 0;
    font-size: 46px;
    line-height: 46px;
    font-weight: 100;
}

.wrapperAuth > div {
    margin-top: 20px;
}

.wrapperAuth hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.wrapperAuth .middleMessageAuth {
    margin-top: 20px;
}

.wrapperAuth .hideForm {
    display: none;
}

.wrapperAuth .showForm {
    display: flex;
}

@media (min-width: 1025px) {
    .wrapperAuth {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .wrapperAuth.wrapperInnerMain {
        flex: 2;
        align-items: center;
        margin-bottom: 0;
    }

    .wrapperAuthLogin {
        flex: 5;
    }

    .middleMessageAuth {
        flex: 1;
    }

    .wrapperAuthRegistration {
        flex: 5;
    }

    .wrapperAuth > div,
    .wrapperAuth .middleMessageAuth,
    .wrapperAuth form {
        margin: 0;
        padding: 0;
        max-width: 560px;
    }

    .wrapperAuth h2 {
        font-size: 34px;
        text-align: start;
        letter-spacing: 1px;
    }

    .wrapperAuth .innerWrapperAuth {
        flex-direction: row;
        text-align: left;
        margin-bottom: 0;
        width: 100%;
    }

    .wrapperAuth > div {
        max-width: none;
    }

    #loginForm .showForm {
        margin-left: 40%;
        margin-right: 8%;
    }

    #registerForm .showForm {
        margin-right: 40%;
        margin-left: 8%;
    }

    #loginForm .showForm,
    #registerForm .showForm {
        max-width: 345px;
    }

    #loginForm .showForm input,
    #loginForm .showForm input[type=submit],
    #registerForm .showForm input,
    #registerForm .showForm input[type=submit] {
        margin-left: 0px;
        margin-right: 0px;
        max-width: none;
    }
}
