.carouselWrapper .slick-track img {
    width: 100%;
    height: 100%;
}

.carouselWrapper button {
    overflow: hidden;
    position: fixed;
    top: -350px;
}

@media (min-width: 1025px) {
    .carouselWrapper .slick-list {
        width: 100%;
    }

    .carouselWrapper .slick-track {
        width: 123456789px;
    }

    .carouselWrapper {
        max-width: 50%;
    }
}