.checkoutWrapper button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: black;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.checkoutWrapper button {
    margin-top: 25px;
    border: 1px solid black;
}

.checkoutWrapper button:hover,
.checkoutWrapper button:focus {
    background: white;
    color: black;
}

.checkoutWrapper button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.checkoutWrapper button:active {
    transform: scale(0.99);
}

.checkoutWrapper .stripeSupplierWrapper {
    text-align: center;
}

.checkoutWrapper .checkoutForm input {
    background: transparent;
}

.checkoutWrapper .checkoutForm {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
}

@media (min-width: 1025px) {
    .checkoutWrapper .checkoutForm input, 
    .checkoutWrapper .checkoutForm input[type=submit] {
        max-height: none;
        max-width: none;
        margin-left: 0;
        margin-right: 0;
    }
}
