.cartCardWrapper .imgWrapper {
    height: auto;
    width: 135px;
}

.cartCardWrapper .imgWrapper img {
    height: 100%;
    width: 100%;
}

.cartCardWrapper h2 {
    margin: 0;
}

.cartCardWrapper .cartArticle {
    display: flex;
    flex-direction: row;
}

.cartCardWrapper .cartHeader {
    margin-right: 15px;
}

.cartCardWrapper .cartInfoProduct .titleSection {
    margin: 0;
    font-family: 'Dharma';
    font-weight: 100;
}

.cartCardWrapper .cartInfoProduct p {
    margin: 0;
    margin-top: 5px;
    font-size: 14px;
}

.cartCardWrapper .cartInfoProduct p.prize {
    font-size: 16px;
}

@media (min-width: 1025px) {
    .cart.container {
        max-width: 500px;
    }

    .cartWrapper .cartHeaderWrapper {
        justify-content: flex-end;
    }

    .cartWrapper .cartHeaderWrapper h2 {
        margin-right: 15px;
    }
}