.productCardWrapper h2 {
    margin: 0;
    font-size: 20px;
}

.productCardWrapper section p,
.productCardWrapper .modelSizeDescription {
    font-size: 12px;
}

.productCardWrapper .descriptionWrapper {
    margin-top: 20px;
    margin-bottom: 30px;
}

.productCardWrapper .infoSelectionWrapper {
    margin: 0 20px;
}

.infoSelectionWrapper .title-card {
    margin-top: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Dharma';
    font-size: 48px;
    font-weight: 400;
}

.infoSelectionWrapper .prize-card{
    letter-spacing: 3px;
    font-size: 40px;
}

.infoSelectionWrapper .iva-card{
    color: grey;
    font-size: 11px;
}


hr { 
    display: block;
    border-width: 1px;
}

.productCardWrapper .infoSelectionWrapper .userAction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infoSelectionWrapper .userAction .addToWishlistCTA {
    background-image: url('../../../static/icons/heart_icon.svg');
    background-color: white;
    background-repeat: no-repeat;
    text-indent: -50000px;
}

.infoSelectionWrapper .userAction .addToCartWrapper {
    margin-right: 6px;
    flex-grow: 2;
}


.infoSelectionWrapper .userAction .addToWishlistWrapper {
    width: 46px;
}


@media (min-width: 1025px) {
    .productCardWrapper {
        display: flex;
        flex-direction: row;
    }

    .productCardWrapper .infoSelectionWrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 400px;
        margin-top: 55px;
    }
}