.wrapperMenu,
.navMenu,
.navMenu ul {
    height: inherit;
    font-size: 16px;
}

ul.menuListItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navMenu > ul.menuListItem {
    margin-left: 15px;
    margin-right: 15px;
}

ul.menuListItem .wrapperMenuIcons {
    display: flex;
    flex-direction: row;
} 

ul.menuListItem .wrapperMenuIconsInner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menuItem .icon {
    height: 35px;
    width: 35px;
} 

.wrapperMenuLogo {
    width: 150px;
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    justify-content: center;
}

.wrapperMenuIconsRight {
    display: flex;
    flex-direction: row;
}

.navMenu h3 {
    font-size: 18px;
    text-transform: uppercase;
}

@media (min-width: 1025px) {
    .wrapperMenuIcons {
        width: 100%;
    }

    ul.menuListItem .wrapperMenuIconsInner {
        width: 100%;
    }

    ul.menuListItem .wrapperMenuIconsInner ul li{
        padding-right: 0;
        margin-left: 40px;
    }

    ul.menuListItem .wrapperMenuIcons li {
        padding-right: 10px;
    }
    
    ul.menuListItem .wrapperMenuIcons li:last-child {
        padding-right: 0;
    }

    .wrapperMenu,
    .navMenu,
    .navMenu ul {
        font-size: 18px;
        text-transform: uppercase;
    }

    .navMenu h3:hover {
        text-decoration: underline;
    }

    .wrapperMenuLogo {
        width: 200px;
    }

    .navMenu > ul.menuListItem {
        margin-left: 25px;
        margin-right: 25px;
    }
}