.wishlistWrapper {
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.wishlistWrapper .wishlistInfoProductWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.wishlistWrapper .wishlistSection .loader-div {
    flex-grow: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wishlistSection {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.wishlistHeaderWrapper a {
    font-size: smaller;
}

.wishlistWrapper .wishlistHeaderWrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.wishlistWrapper footer {
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-grow: 1;
    font-family: 'Montserrat', sans-serif;
}

.wishlistWrapper .addToCartCTA {
    height: 30px;
    width: 135px;
}

.wishlistWrapper .wishlistCardWrapper {
    border-bottom: 1px solid black;
    padding: 25px 0;
}

.wishlistWrapper .wishlistHeaderWrapper {
    margin-top: 25px;
}

.wishlistWrapper .addToCartWrapper button {
    letter-spacing: 1px;
    font-size: 8px;
}

@media (min-width: 1025px) {
    .wishlistWrapper .addToCartCTA {
        width: 220px;
    }
}